body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EBE8DB; 
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 800px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.message-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.message-list li {
    background: #D76C82; 
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}

.form-container {
    width: 100%;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    border: 1px solid #B03052; 
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

button.pure-button-primary {
    background-color: #B03052; 
    color: white;
}

.dark-mode {
    background-color: #3D0301; 
    color: white;
}

.dark-mode .container {
    background: #B03052; 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.dark-mode .message-list li {
    background: #D76C82; 
    color: white;
}

.dark-mode input, .dark-mode textarea {
    background: #3D0301; 
    color: white;
    border: 1px solid #EBE8DB; 
}

.dark-mode button.pure-button-primary {
    background-color: #EBE8DB; 
    color: #3D0301; 
}

